.container{
}

.previewContainer {
  position: relative;
  display:flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.cameraContainer {
  width: 180px; /* Defina a largura desejada */
  height: 180px; /* Defina a altura desejada */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.video,
.capturedImage {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.placeholderImage {
  width: 180px;
  height: 180px;
  /* Adicione outros estilos necessários para o placeholder */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 180px;
  max-height: 180px;
  border-radius: 5px;
}

.button {
  margin-top: 10px;
}

img{
  width: 180px;
  height: 180px;
}

video{
  width: 180px;
  height: 180px;
}
